* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: avo;
	src:url(../fonts/utm-avo.ttf);
}
@font-face {
	font-family: avobold;
	src:url(../fonts/utm-avobold.ttf);
}
@font-face {
	font-family: blonde;
	src:url(../fonts/FS-BlondeScript-Regular.otf);
}
/*==BODY==*/
body {
	font-family: avo;
}

/*==HEADER==*/
#header { height: 38px; background-color: #000000; }

/*==MENU==*/
#menu ul {
	list-style-type: none;
	background-color: #000000;
	text-align: center;
}
#menu ul li {
	color: #f5f5f5;
	display: inline-table; /* biến Items bên trong thành hàng ngang */
	height: 38px;
	line-height: 38px;
	padding: 0 0.7em 0 0.7em;
}
#menu ul li a {
	color: #f5f5f5;
	text-decoration: none;
	display: block; /* Nếu đổ màu thì nó sẽ bao bọc hết phần li(list) */
}
.head-logo {
	width: 216px;
	height: 78px;
	position: absolute;
	z-index: 9999;
}
/*==BANNER==*/
#banner {
	width: 1520px;
	height: 679px;
}
.wrapper-banner {
	padding: 0;
	bottom: 10px;
}
.banner-logo {
	margin: auto;
	width: 174px;
	height: 172px;
	margin-top: 88px;
	margin-bottom: 35px;
}
.banner-title {
	margin: auto;
	width: 65%;
	margin-bottom: 20px;
	/*width: 682px;
	height: 280px;*/
}
.wrapper-banner-btn {
	padding-left: 37%;
}
.banner-btn {
	margin: 0 auto;
	text-align: center;
	border-radius: 0px;
	border: 1px solid #f16a76;
	color: #e30c10;
	font-family: avobold;
	width: 180px;
	height: 43px;
}
.banner-btn:hover {
	transition: all ease 0.3s;
	background-color: #e30c10;
	color: #f5f5f5;
	border-radius: 1px;
}
.red-line {
	width: 100%;
	height: 90px;
	background-color: #e30c10;
	margin: 0;
	position: absolute;
	bottom: -20px;
	z-index: -10;
}

/*==FIRST-CONTENT==*/
.cooking-aka {
	margin: auto;
	width: 41%;
	margin-top: 5px;
}

/*==SECOND-COOKING==*/
.wrapper-img-cooking {
	overflow: hidden;
}
.img-cooking {
	border-radius: 0px 160px 0px 160px;
	-moz-border-radius: 0px 160px 0px 160px;
	-webkit-border-radius: 0px 140px 0px 140px;
	border: 4px solid #f0e4f0;
}
.img-number {
	height: 80px;
	width: 80px;
	background-color: #ed1b24;
}
.img-number {
	position: absolute;
	top: -5px;
	left: 7px;
	border-radius: 0px 0px 200px 0px;
}
.img-number p {
	text-align: center;
	margin: auto;
	font-size: 45px;
	font-family: avobold;
	color: #f5f5f5;
	padding-right: 10px;
}
.img-type {
	position: absolute;
	bottom: -5px;
	right: 7px;
	border-radius: 200px 0px 0px 0px;
}
.img-type {
	height: 80px;
	width: 80px;
	background-color: #ed1b24;
}
.img-type img {
	margin: auto;
	padding-top: 20px;
}
.p-cooking {
	position: absolute; 
	bottom: -70px;
	font-size: 18px;
	font-weight: 550;
}

/*==THIRD-CONTENT==*/
.courses-list {
	margin-top: 45px;
	font-family: blonde;
	text-align: center;
	font-size: 65px;
	color:  #ed1b24;
	margin-bottom: 0;
}
.city {
	padding: 0;
}
.p-hn {
	width: 150px;
	text-align: center;
	padding: 0.8em 0.1em 0.8em 0.1em;
	border: 3px solid #ed1b24;
	border-radius: 5px;
	font-family: avobold;
	color: #ed1b24;
	margin: auto;
	font-size: 17px;
}
.up {
	width: 68px; 
	height: 20px; 
	background: #d91918;
	color: #f5f5f5;
	font-family: avobold;

}
.down {
	width: 68px;
	height: 50px;
	background: #0000;
	border: 1px solid #ccc;
}
.down p {
	padding-bottom: 0;
	color: #C9C5C5;
}
.p-down {
	font-size: 20px;
	margin-bottom: 2px;
}
.regis-btn {
	margin-top: 13px;
	width: 68px;
	height: 30px;
	border-radius: 0px;
	text-align: center;
	padding: 0;
	background: #d91918;
	color: #f5f5f5;
	font-family: avobold;
}

/*==FORTH-CONTENT==*/
.p-caption {
	color: #ed1c24;
	font-family: avobold;
	font-size: 19px;
	text-align: center;
}
.img-user {
	margin: auto;
}
.watch-more {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -1%;
	border-radius: 0;
	border: 0;
	width: 68px;
	height: 30px;
	border-radius: 0px;
	padding: 0;
	background: #d91918;
	color: #f5f5f5;
	font-family: avobold;
	width: 85px;
	height: 35px;
	line-height: 35px;
	z-index: 1000;
}
.watch-more:hover {
	background: #f5f5f5;
	color: #d91918;
	transition: all ease 0.5s;
}
.thumbnail {
	border-radius: 0;
	padding: 0.5em;
	width: 290px;
	height: 310px;
	margin: 0;
	padding-top: 7em;
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}
.img-user {
	position: absolute;
	z-index: 9999;
	left: 50%;
	transform: translateX(-50%);
	top: -20%;
}
.wrapper-thumb {
	padding: 1em;
	position: relative;
	margin-top: 100px;
	margin-bottom: 50px;
}
/*==FOOTER==*/
#footer {
	background: url(../images/footer.png) center center no-repeat;
	background-size: 100% 100%;
	width: 100vw;
	height: 680px;
	margin-top: 20px;
	overflow: hidden;
}
.courses-listed {
	margin-top: 45px;
	font-family: blonde;
	text-align: center;
	font-size: 65px;
	color:  #f1f1f1;
	margin-bottom: 0;
}
.regis-now-btn {
	width: 100%;
 	margin-top: 13px;
 	border: 0;
	height: 40px;
	border-radius: 0px;
	text-align: center;
	padding: 0;
	background: #d91918;
	color: #f5f5f5;
	font-family: avobold;
}
.wrapper-food {
	position: relative;
	padding: 1em;
}
.p-food {
	background: white;
	opacity: 0.5;
	text-align: center;
	height: 50px;
	width: 287px;
	line-height: 50px;
	font-size: 13px;
	font-weight: 1000;
}
.p-food p {
	color: black;
}
.p-food {
	position: absolute;
	bottom: 4%;
	z-index: 9999;
}
/* +++++ */
.slick-dots {
	text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
  li {
    display:inline-block;
    margin-left: 4px;
    margin-right: 4px;
    &.slick-active {
      button {
        background-color:black;
      }
    }
    button {
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-color:#999;
      border:none;
      width: 15px;
      height: 15px;
      border-radius:50%;
    }
		:hover{
			background-color: black;
		}
  }
}
.prev-2{
	color: #d91918;
	position: absolute;
	top: 54%;
	right: 65%;
	font-size: 1.5em;
		:hover{
			cursor: pointer;
			color: black;
		}
}
.next-2{
	color: #d91918;
	position: absolute;
	top: 54%;
	right: -2em;
	font-size: 1.5em;
	:hover{
			cursor: pointer;
			color: black;
		}
}
.pic-3 {
	opacity: 0.5;
}
/* Custom Arrow */
.prev{
	color: #d91918;
	position: absolute;
	top: 54%;
	left: -2em;
	font-size: 1.5em;
		:hover{
			cursor: pointer;
			color: black;
		}
}
.next{
	color: #d91918;
	position: absolute;
	top: 54%;
	right: -1em;
	font-size: 1.5em;
	:hover{
			cursor: pointer;
			color: black;
		}
}

@media screen and (max-width: 800px) {
    .next {
        display: none !important;
    }
}
/*==CONTACT-FOOTER==*/
.wrapper-contact-footer {
	width: 280px;
	height: 160px;
	background: #EBEBEB;
	border-radius: 0;
	position: relative;
}
.contact-footer p {
	background: white;	
	margin-bottom: 0;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border: 0;
	border-radius: 0.3em;

}
.contact-footer {
    padding-top: 10px;
	padding: 5px;
}
div.contact-footer {
	padding-top: 10px;
}
.lg-fb, .lg-msg {
	position: absolute;
	z-index: 9999;
	font-family: avobold;
	color: #676a70;
	border-radius: 0;
	height: 30px;
	line-height: 15px;
	padding: 5px;
}
.lg-fb {
	top: 48%;
}
.lg-msg {
	top: 48%;
	right: 0;
}
.wrapper-ct {
	display: flex;
	padding: 1em;
}
.wrapper-ct ul {
	list-style: none;
}
.wrapper-ct ul li a {
	text-decoration: none;
	/*white-space: nowrap;*/
}
.about {
	margin-right: 25px;
	white-space: nowrap;
}
.about:last-child {
	margin-right: 0px;
}
.about h2 a {
	display: block;
	text-decoration: none;
	font-size: 15px;
	color:#e14645;
	border-bottom: 2px solid #e14645;
	padding-bottom: 10px;
}
.about ul li a {
	color:#000000cf;
}
.wrapper-ct {
	padding-left: 60px;
}
.about h2 {
	margin-bottom: 30px;
}
.about ul li a {
	line-height: 20px;
}
#trai {
	margin-left:10%;
	padding-top: 120px; padding-left: 0; padding-right: 0 
}
#phai {
	right: -30%;
	padding-top: 50px; 
	position: absolute;
}
.prev-2 {
	left: 30%;
}
.next-2 {
	right: 20%;
}
.end-footer {
	overflow: hidden;
	margin-top: 50px;
}
.end-logo img {
	width: 103px;
	height: 40px;
	margin-right: 10px;
}
.end-logo, .end-para {
	float: left;
}
.end-para p {
	color: #000000cf;
	font-size: 14px;
	margin-bottom: 0;
}